footer {
  background-color: var(--global-color-dark-2);
  display: grid;
  grid-template: "lft mid rght" 4fr "btm btm btm" 1fr / 1fr 2fr 1fr;

  .footer-btn {
    padding: 0.5rem 1rem !important;
  }

  & > .right,
  & > .left {
    display: grid;
    place-items: center;

    & > .link {
      text-transform: capitalize;
    }
  }

  & > .right {
    grid-area: rght;
  }

  & > .left {
    grid-area: lft;
  }

  & > .mid {
    grid-area: mid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    & > p {
      font-size: var(--font-size-sub-heading-1);
      font-weight: 600;
      color: var(--global-color-accent-1);

      & > span {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }

    & > .socials {
      --size: 2rem;

      display: flex;
      gap: 1rem;

      & > a {
        width: var(--size);
        height: var(--size);
        position: relative;
        transition: transform 250ms ease;

        &:hover {
          transform: translateY(-10px);
        }

        &:focus-visible {
          outline: 1px solid var(--global-color-accent-2);
          border: none;
          border-radius: 10px;
        }
      }
    }
  }

  & > .bottom {
    grid-area: btm;
    background-color: var(--global-color-dark-1);
    padding: 0.25rem;
    display: grid;
    place-items: center;
    color: var(--global-color-light-1);

    & > p {
      font-weight: 100;
      font-size: calc(var(--font-size-heading-6) - 4px);
    }
  }

  @media screen and (width <=1250px) {
    background-color: var(--global-color-dark-2);
    grid-template:
      "lft rght" 1.5fr
      "mid mid" 2.5fr
      "btm btm" 1fr
      /1fr 1fr;

    & > :is(.left, .right) {
      padding-top: 2rem;
    }
  }

  @media screen and (width <=600px) {
    background-color: var(--global-color-dark-2);
    grid-template:
      "lft rght" 1.5fr
      "mid mid" 4fr
      "btm btm" 1fr
      /1fr 1fr;

    & > :is(.left, .right) {
      padding-top: 2rem;
    }

    & > .mid {
      & > .socials {
        --size: 2.75rem;

        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-content: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
