.main {
  min-height: var(--main-height);
  width: var(--main-width);
  padding: var(--main-padding);
  display: grid;
  place-items: center;
}

.main > :is(.project_container) {
  --bg: var(--color-bg-2);
  --bg-rgb: var(--color-bg-2-rgb);

  width: 100%;
  height: 100%;
  background-color: var(--bg);
  border: 2px solid var(--global-color-accent-1);
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 40%);
  border-radius: 20px;
  overflow: hidden;
}

.project_container > .project_thumbnail {
  --height: 18rem;
  --color-bg: var(--color-bg-1-rgb);

  position: relative;
  height: var(--height);
  width: 100%;
  animation: var(--global-skeletal-pulsing-animation)
    var(--global-skeletal-pulsing-duration)
    var(--global-skeletal-pulsing-animation-config);
}

.project_container > .project_thumbnail::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgb(var(--bg-rgb) / 0%) 0%,
    var(--bg) 50%
  );
  height: calc(var(--height) / 4);
  width: inherit;
}

.project_container > h1 {
  font-size: var(--font-size-heading-1);
  font-weight: 800;
  letter-spacing: 0.5rem;
  color: var(--color-fg-1);
  text-align: center;
}

.project_container > .project_description_details {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 2rem 1rem;
}

.project_description_details > p {
  width: 70%;
  font-size: var(--font-size-para-2);
  font-style: normal;
  font-weight: 300;
  line-height: 2rem; /* 161% */
  color: var(--color-fg-2);
}

.project_description_details > .project_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1.5rem;
}

.project_details > :is(.project_visit, .project_github) {
  font-size: var(--font-size-button-2);
  font-weight: 400;
  padding: 0.15rem;
}

.project_details > :is(.project_visit) {
  --color: var(--global-color-accent-1);

  background-color: var(--color-bg-1);
  color: var(--color);
}

.project_visit svg {
  --size: 1.5rem;

  height: var(--size);
  width: var(--size);
}

.project_visit path {
  fill: var(--color);
}

.project_details > :is(.project_github) {
  background-color: var(--global-color-accent-1);
  color: var(--color-bg-1);
}

.project_details > .project_dates {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project_dates > span {
  font-size: var(--font-size-sub-heading-2);
  font-weight: 300;
  color: var(--color-fg-2);
}

.project_dates > span:nth-of-type(2) {
  font-weight: 600;
}

.project_details
  > :is(
    .project_tags_container,
    .project_tech_container,
    .project_with_container
  ) {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

:is(.project_tags_container, .project_tech_container, .project_with_container)
  > p {
  font-size: var(--font-size-sub-heading-1);
  font-weight: 600;
  color: var(--color-fg-1);
}

:is(.project_tags_container, .project_tech_container)
  > :is(.project_tags, .project_tech) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project_tag_card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 0.125rem 0.65rem;
  background-color: var(--color-bg-1);
  color: var(--global-color-accent-1);
  font-size: var(--font-size-button-3);
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  white-space: nowrap;
}

/* Tablet Page */
@media screen and (width <=900px) {
  .project_container > .project_description_details {
    flex-direction: column-reverse;
  }

  .project_description_details > p {
    width: 100%;
  }

  .project_container > .project_thumbnail {
    --height: 15rem;
  }
}

/* Mobile Page */
@media screen and (width <=600px) {
  .project_container > .project_thumbnail {
    --height: 10rem;
  }
}
