{
    "extends": [
        "stylelint-config-standard"
    ],
    "ignoreFiles": [
        "/**/*.js",
        "/**/*.jsx",
        "/**/*.ts",
        "/**/*.tsx",
        "./node_modules/**/*.*"
    ],
    "rules": {
        "declaration-block-no-duplicate-properties": true,
        "no-descending-specificity": null,
        "selector-class-pattern": null,
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "extend"
                ]
            }
        ]
    }
}