:root {
  --global-color-accent-1-rgb: 0 216 135;
  --global-color-accent-1: rgb(0 216 135);
  --global-color-accent-1-10: rgb(0 216 137 / 10%);
  --global-color-accent-1-20: rgb(0 216 135 / 20%);
  --global-color-accent-1-30: rgb(0 216 135 / 30%);
  --global-color-accent-1-40: rgb(0 216 135 / 40%);
  --global-color-accent-1-50: rgb(0 216 135 / 50%);
  --global-color-accent-1-60: rgb(0 216 135 / 60%);
  --global-color-accent-1-70: rgb(0 216 135 / 70%);
  --global-color-accent-1-80: rgb(0 216 135 / 80%);
  --global-color-accent-1-90: rgb(0 216 135 / 90%);
  --global-color-accent-2-rgb: 7 255 136;
  --global-color-accent-2: rgb(7 255 136);
  --global-color-accent-2-20: rgb(7 255 136 / 20%);
  --global-color-accent-2-30: rgb(7 255 136 / 30%);
  --global-color-accent-2-40: rgb(7 255 136 / 40%);
  --global-color-accent-2-50: rgb(7 255 136 / 50%);
  --global-color-accent-2-60: rgb(7 255 136 / 60%);
  --global-color-accent-2-70: rgb(7 255 136 / 70%);
  --global-color-accent-2-80: rgb(7 255 136 / 80%);
  --global-color-accent-2-90: rgb(7 255 136 / 90%);
  --global-color-light-1-rgb: 233 255 241;
  --global-color-light-1: rgb(233 255 241);
  --global-color-light-1-20: rgb(233 255 241 / 20%);
  --global-color-light-1-30: rgb(233 255 241 / 30%);
  --global-color-light-1-40: rgb(233 255 241 / 40%);
  --global-color-light-1-50: rgb(233 255 241 / 50%);
  --global-color-light-1-60: rgb(233 255 241 / 60%);
  --global-color-light-1-70: rgb(233 255 241 / 70%);
  --global-color-light-1-80: rgb(233 255 241 / 80%);
  --global-color-light-1-90: rgb(233 255 241 / 90%);
  --global-color-light-2-rgb: 150 255 198;
  --global-color-light-2: rgb(150 255 198);
  --global-color-light-2-20: rgb(150 255 198 / 20%);
  --global-color-light-2-30: rgb(150 255 198 / 30%);
  --global-color-light-2-40: rgb(150 255 198 / 40%);
  --global-color-light-2-50: rgb(150 255 198 / 50%);
  --global-color-light-2-60: rgb(150 255 198 / 60%);
  --global-color-light-2-70: rgb(150 255 198 / 70%);
  --global-color-light-2-80: rgb(150 255 198 / 80%);
  --global-color-light-2-90: rgb(150 255 198 / 90%);
  --global-color-dark-1-rgb: 21 26 33;
  --global-color-dark-1: rgb(21 26 33);
  --global-color-dark-1-20: rgb(21 26 33 / 20%);
  --global-color-dark-1-30: rgb(21 26 33 / 30%);
  --global-color-dark-1-40: rgb(21 26 33 / 40%);
  --global-color-dark-1-50: rgb(21 26 33 / 50%);
  --global-color-dark-1-60: rgb(21 26 33 / 60%);
  --global-color-dark-1-70: rgb(21 26 33 / 70%);
  --global-color-dark-1-80: rgb(21 26 33 / 80%);
  --global-color-dark-1-90: rgb(21 26 33 / 90%);
  --global-color-dark-2-rgb: 36 41 48;
  --global-color-dark-2: rgb(36 41 48);
  --global-color-dark-2-20: rgb(36 41 48 / 20%);
  --global-color-dark-2-30: rgb(36 41 48 / 30%);
  --global-color-dark-2-40: rgb(36 41 48 / 40%);
  --global-color-dark-2-50: rgb(36 41 48 / 50%);
  --global-color-dark-2-60: rgb(36 41 48 / 60%);
  --global-color-dark-2-70: rgb(36 41 48 / 70%);
  --global-color-dark-2-80: rgb(36 41 48 / 80%);
  --global-color-dark-2-90: rgb(36 41 48 / 90%);
}
