@import url("margin-padding");
@import url("flex-grid");
@import url("misc");

.mode-button {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-bg-2);
  border-radius: 0 0 0 100%;
  overflow: hidden;

  & label {
    @extend %flex,
      %align-center,
      %justify-content-center,
      %pointer,
      %pb-0.25,
      %pl-0.25,
      %select-none;

    height: inherit;
    width: inherit;

    & > .icons {
      & > span {
        & > svg {
          height: 32px;
          width: 32px;

          & > path {
            fill: var(--color-fg-2);
          }
        }
      }
    }
  }
}
