.list_item_loader {
  --color-bg: var(--color-bg-2-rgb);

  width: 70%;
  height: 70%;
  animation: skeletal-pulsing var(--global-skeletal-pulsing-duration)
    var(--global-skeletal-pulsing-animation-config);
}
