.main > h1 {
  color: var(--color-fg-1);
  font-size: var(--font-size-display-2);
  text-align: center;
}

.story {
  padding: 1rem var(--main-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.story > .story_ill {
  width: 40%;
  display: grid;
  place-items: center;
}

.story_ill > div {
  --size: 12rem;

  position: relative;
  height: var(--size);
  width: var(--size);
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 8px 8px 0 var(--global-color-dark-2-20);
}

.story_ill:hover > div {
  animation: rotating 1.5s infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.story > .story_container {
  flex: 1;
}

.story_container > .story_sub {
  color: var(--global-color-accent-1);
  font-size: var(--font-size-sub-heading-2);
  font-weight: 300;
}

.story_container > .story_head {
  margin: 0.5rem 0;
  color: var(--color-fg-2);
  font-size: var(--font-size-heading-2);
  font-weight: 700;
}

.story_container > .story_para {
  color: var(--color-fg-1);
  font-size: var(--font-size-para-2);
  font-weight: 400;
  line-height: 2rem;
}

.story_container > .story_para > .story_highlight {
  color: var(--global-color-accent-1);
}

.hobbies {
  margin: 0.5rem var(--main-padding);
  width: 60%;
}

.hobbies > h2 {
  color: var(--global-color-accent-2);
  font-size: var(--font-size-heading-2);
  font-weight: 600;
}

.hobbies > ul {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hobbies > ul > li {
  text-transform: capitalize;
  font-size: var(--font-size-para-1);
  font-weight: 300;
  line-height: 2rem;
}

/* Tablet Page */
@media screen and (width <=900px) {
  .hobbies {
    width: 90%;
  }

  .hobbies > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0 2.5rem;
  }
}

/* Mobile Page */
@media screen and (width <=500px) {
  .story {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .story > .story_ill {
    width: 100%;
  }
}
