@import url("./../styles/reset");
@import url("./../styles/constants/colors");
@import url("flex-grid");
@import url("font");
@import url("margin-padding");
@import url("misc");
@import url("positioning");
@import url("size");

:root {
  --color-bg-1: var(--global-color-light-1);
  --color-bg-2: var(--global-color-light-2);
  --color-fg-1: var(--global-color-dark-1);
  --color-fg-2: var(--global-color-dark-2);
}

h1 {
  @extend %font-desktop-display-1;

  color: var(--global-color-accent-1);
}
