.main {
  min-height: var(--main-height);
  width: var(--main-width);
}

/* Hero Section */
.hero {
  position: relative;
  width: inherit;
  min-height: calc(var(--main-height) - 2vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 6rem var(--main-padding);

  @media (width >= 1440px) {
    min-height: calc(var(--main-height) - 10vh);
  }
}

.hero_ill {
  --size: 25rem;
  --position: 3rem;
  --color-bg: var(--color-bg-2-rgb);

  position: absolute;
  width: var(--size);
  height: var(--size);
  right: var(--position);
  bottom: var(--position);
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 8px 8px 0 var(--global-color-dark-2-20);
  animation:
    floating 1s linear infinite,
    skeletal-pulsing var(--global-skeletal-pulsing-duration)
      var(--global-skeletal-pulsing-animation-config);
}

.hero_ill:hover {
  animation: rotating 4s infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-0.5rem);
  }

  50% {
    transform: translateY(0.5rem);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero > h2 {
  position: relative;
  color: var(--global-color-accent-2);
  font-size: calc(var(--font-size-heading-3) - 2px);
  font-weight: 600;
  width: 80%;
}

.hero > h2::before {
  content: "";
  position: absolute;
  bottom: 0.25rem;
  display: block;
  height: 1px;
  width: 5.2rem;
  background-color: var(--global-color-accent-2);
}

.hero > h1 {
  color: var(--global-color-accent-2);
  font-size: var(--font-size-display-1);
  font-weight: 800;
  line-height: normal;
  letter-spacing: 7px;
}

.hero > p {
  color: var(--color-fg-2);
  font-size: var(--font-size-heading-3);
  font-weight: 200;
  letter-spacing: 2.4px;
  width: 70%;
}

.hero :is(.hero_cta1, .hero_cta2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hero_cta2_outer {
  background-color: var(--color-bg-1);
}

.hero_cta2 path {
  fill: var(--global-color-accent-2);
}

.hero > .arrow {
  --height-1: 28.5rem;
  --height-2: 30.5rem;

  position: absolute;
  top: 15.6rem;
  height: var(--height-1);
  width: 18.9375rem;
  z-index: -1;
  left: 7rem;
  animation: downn 1s linear infinite;
}

@keyframes downn {
  0%,
  100% {
    height: var(--height-1);
  }

  50% {
    height: var(--height-2);
  }
}

/* Projects Section */

.projects {
  margin: 1rem 0;
}

.projects > .projects_container {
  --card-size: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.15rem;
  background-color: var(--color-bg-2);
}

.projects_container > h3 {
  margin-top: 0.75rem;
  color: var(--color-fg-2);
  font-size: var(--font-size-heading-5);
  font-weight: 400;
  text-align: center;
}

.projects_container > h2 {
  color: var(--color-fg-1);
  font-size: var(--font-size-heading-3);
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.projects_container > p {
  margin-bottom: 0.5rem;
}

/* About Section */
.about {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: 0.2fr 0.4fr 1fr;
  gap: 0.75rem 2rem;
  padding: 4rem var(--main-padding);
  justify-items: center;
}

.about > h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  color: var(--color-fg-2);
  font-size: var(--font-size-heading-5);
  font-weight: 400;
  text-align: center;
}

.about > h3 {
  grid-column: 1/3;
  text-align: center;
  color: var(--color-fg-1);
  font-size: var(--font-size-heading-3);
  font-weight: 600;
  width: 85%;
}

.about > p {
  grid-column: 1/3;
  text-align: center;
  color: var(--color-fg-2);
  font-size: var(--font-size-para-1);
  font-weight: 200;
  line-height: 2rem;
  width: 80%;
}

.about > img {
  height: 14rem !important;
  width: 14rem !important;
  top: -2rem !important;
  left: -5rem !important;
}

/* Tablet Page */
@media screen and (width <=900px) {
  /* Hero Section */
  .hero {
    min-height: calc(var(--main-height) - 10vh);
  }

  .hero_ill {
    display: none;
  }

  .hero > p {
    width: 80%;
  }

  /* Projects Section */
  .projects > .projects_container {
    display: flex;
    flex-direction: column;
  }

  /* About Section */
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about > .about_ill {
    display: none;
  }
}

/* Mobile Page */
@media screen and (width <=600px) {
  /* Hero Section */
  .hero {
    min-height: calc(var(--main-height) - 12vh);
  }

  .hero_ill {
    display: none;
  }

  .hero > p {
    width: 90%;
  }

  /* Projects Section */
  .projects > .projects_container {
    --card-size: 12rem;

    display: flex;
    flex-direction: column;
  }

  .projects_container > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects_cards_container > .projects_cards {
    border-radius: 10px;
    overflow: hidden;
  }

  /* About Section */
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about > .about_ill {
    display: none;
  }
}
