.main {
  min-height: var(--main-height);
  width: var(--main-width);
}

/* Hero Section */
.hero {
  position: relative;
  width: inherit;
  min-height: calc(var(--main-height) - 2vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 6rem var(--main-padding);

  @media (width >= 1440px) {
    min-height: calc(var(--main-height) - 10vh);
  }
}

.hero_ill {
  --size: 25rem;
  --position: 3rem;

  position: absolute;
  width: var(--size);
  height: var(--size);
  right: var(--position);
  bottom: var(--position);
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 8px 8px 0 var(--global-color-dark-2-20);
  animation: floating 1s linear infinite;
}

.hero_ill:hover {
  animation: rotating 4s infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-0.5rem);
  }

  50% {
    transform: translateY(0.5rem);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero > h2 {
  position: relative;
  color: var(--global-color-accent-2);
  font-size: var(--font-desktop-heading-3);
  font-weight: 600;
}

.hero > h2::before {
  content: "";
  position: absolute;
  bottom: 0.25rem;
  display: block;
  height: 1px;
  width: 5.2rem;
  background-color: var(--global-color-accent-2);
}

.hero > h1 {
  color: var(--global-color-accent-2);
  font-size: var(--font-desktop-display-1);
  font-weight: 800;
  line-height: normal;
  letter-spacing: 7px;
}

.hero > p {
  color: var(--color-fg-2);
  font-size: var(--font-desktop-heading-1);
  font-weight: 600;
  letter-spacing: 2.4px;
  width: 50%;
}

.hero :is(.hero_cta1, .hero_cta2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hero_cta2_outer {
  background-color: var(--color-bg-1);
}

.hero_cta2 path {
  fill: var(--global-color-accent-2);
}

.hero > .arrow {
  --height-1: 28.5rem;
  --height-2: 30.5rem;

  position: absolute;
  top: 15.6rem;
  height: var(--height-1);
  width: 18.9375rem;
  z-index: -1;
  left: 7rem;
  animation: downn 1s linear infinite;
}

@keyframes downn {
  0%,
  100% {
    height: var(--height-1);
  }

  50% {
    height: var(--height-2);
  }
}

/* Projects Section */

.projects {
  margin: 1rem 0;
}

.projects > .projects_container {
  --card-size: 15rem;

  display: grid;
  grid-template-columns: auto calc(calc((var(--card-size) * 2) + 4rem));
  grid-template-rows: 0.2fr 1fr 0.4fr;
}

.projects_container > * {
  background-color: var(--color-bg-2);
}

.projects_container > h2 {
  grid-column: 1/3;
  color: var(--color-fg-1);
  font-size: var(--font-desktop-heading-2);
  font-weight: 600;
  text-align: center;
}

.projects_container > .projects_cards_container {
  grid-column: 2/3;
  grid-row: 2/4;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects_cards_container > .projects_cards {
  position: relative;
  height: calc(var(--card-size) * 2);
  width: calc(var(--card-size) * 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  isolation: isolate;
}

.projects_cards > .project_card {
  position: relative;
  max-width: var(--card-size);
}

.project_card > .project_card_content {
  --transition-time: 0.5s;

  position: relative;
  transition:
    width var(--transition-time) ease-in-out,
    position var(--transition-time) ease-in-out;
  height: var(--card-size);
  width: var(--card-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.project_card_content > img {
  z-index: -2;
  object-fit: cover;
}

.project_card_content > *:not(img) {
  display: none;
}

.project_card_link svg {
  height: 1rem;
  width: 1rem;
}

.project_card_link:nth-of-type(1) path {
  fill: var(--global-color-accent-2);
}

.project_card_link:nth-of-type(2) path {
  fill: var(--global-color-accent-1);
}

.project_card_content::before {
  content: "";
  transition: background-color var(--transition-time) ease-in-out;
}

.project_card:hover > .project_card_content {
  position: absolute;
  top: 0;
  z-index: 10;
  width: calc(var(--card-size) * 2);
}

.project_card:hover > .project_card_content > *:not(img) {
  display: block;
}

.project_card:hover > .project_card_content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: var(--card-size);
  width: calc(var(--card-size) * 2);
  background-color: var(--global-color-dark-1-40);
}

.project_card:nth-child(odd):hover > .project_card_content {
  left: 0;
}

.project_card:nth-child(even):hover > .project_card_content {
  right: 0;
}

/* About Section */
.about {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: 0.2fr 0.4fr 1fr;
  gap: 0.75rem 2rem;
  padding: 1rem var(--main-padding);
}

.about > h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  color: var(--color-fg-1);
  font-size: var(--font-desktop-heading-3);
  font-weight: 600;
  text-align: center;
}

.about > .about_ill {
  grid-column: 2/3;
  grid-row: 2/4;
}

.about > h3 {
  color: var(--color-fg-1);
  font-size: var(--font-desktop-heading-2);
  font-weight: 600;
}

.about > p {
  color: var(--color-fg-2);
  font-size: var(--font-desktop-para-1);
  font-weight: 200;
  line-height: 2rem;
}

.about > img {
  height: 14rem !important;
  width: 14rem !important;
  top: -2rem !important;
  left: -5rem !important;
}
