.project_card {
  --card-height: 14rem; /* 14rem */
  --card-width: calc(var(--card-height) * 2); /* 28rem */
  --card-image-width: calc(var(--card-width) / 2); /* 14rem */
  --card-info-width: calc(var(--card-width) / 2); /* 14rem */
  --hover-transition: width 250ms ease-in-out;

  display: flex;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: 10px;
  overflow: hidden;

  & > .project_image {
    --color-bg: var(--color-bg-2-rgb);

    width: var(--card-image-width);
    position: relative;
    transition: var(--hover-transition);
    animation: skeletal-pulsing var(--global-skeletal-pulsing-duration)
      var(--global-skeletal-pulsing-animation-config);

    & > img {
      object-fit: cover;
    }
  }

  & > .project_info {
    width: var(--card-info-width);
    background-color: var(--color-bg-2);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
    overflow: hidden;
    transition:
      all 200ms ease,
      var(--hover-transition);

    & > :is(.button, .link) {
      display: none;
      width: 100%;
      text-transform: capitalize;

      &:hover {
        filter: brightness(110%);
      }

      &.details {
        background-color: var(--color-bg-1);
        color: var(--color-fg-1);
      }

      &.visit {
        background-color: var(--color-fg-2);
        color: var(--color-bg-2);
      }
    }

    & > h2 {
      text-align: center;
      font-size: var(--font-size-heading-4);
      font-weight: 600;
      color: var(--color-fg-1);
    }

    & > p {
      font-size: var(--font-size-button-3);
      font-weight: 300;
      line-height: 1.5rem;
      color: var(--color-fg-2);
      text-overflow: ellipsis;
    }

    & > :is(.project_tech, .project_tags) {
      display: flex;
      gap: 0.5rem;

      & > p {
        text-transform: capitalize;
        font-size: var(--font-size-button-3);
        font-weight: 200;
        color: var(--color-fg-1);
      }

      & > span {
        text-transform: capitalize;
        font-size: var(--font-size-button-3);
        font-weight: 300;
        color: var(--global-color-accent-2);
      }
    }
  }

  &:hover {
    --card-image-width: calc(var(--card-height) + 4rem);
    --card-info-width: calc(var(--card-height) - 4rem);

    & > .project_info {
      align-items: center;
      gap: 0.75rem;

      & > :is(p, .project_tags, .project_tech) {
        display: none;
      }

      & > :is(.button, .link) {
        display: inline-block;
      }
    }
  }

  &.project_card_loader {
    & > .project_info {
      & > h6 {
        --color-bg: var(--color-bg-1-rgb);

        width: 90%;
        color: transparent;
        animation: skeletal-pulsing var(--global-skeletal-pulsing-duration)
          var(--global-skeletal-pulsing-animation-config);
      }

      & > p {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        margin: 1rem 0;

        & > span {
          --color-bg: var(--color-bg-1-rgb);

          width: 90%;
          height: 0.4rem;
          animation: skeletal-pulsing var(--global-skeletal-pulsing-duration)
            var(--global-skeletal-pulsing-animation-config);

          &:last-of-type {
            width: 40%;
          }
        }
      }

      & > :is(.project_tech, .project_tags) {
        & > span {
          --color-bg: var(--color-bg-1-rgb);

          width: 3.5rem;
          height: 100%;
          animation: skeletal-pulsing var(--global-skeletal-pulsing-duration)
            var(--global-skeletal-pulsing-animation-config);
        }
      }
    }

    &:hover {
      --card-image-width: var(--card-height);
      --card-info-width: var(--card-height);

      & > .project_info {
        align-items: flex-start;
        gap: 0.25rem;

        & > :is(p, .project_tags, .project_tech) {
          display: flex;
        }

        & > :is(.button, .link) {
          display: none;
        }
      }
    }
  }

  /* Small Laptop Page */
  @media screen and (width <=1250px) {
    --card-height: 12rem;

    & > .project_info {
      & > :is(p) {
        display: none;
      }
    }
  }

  /* Mobile Page */
  @media screen and (width <=600px) {
    --card-height: 10rem;

    & > .project_info {
      gap: 0.75rem;

      & > h6 {
        text-align: center;
        width: 100%;
      }

      & > :is(p, .project_tech, .project_tags) {
        display: none;
      }

      & > :is(.button, .link) {
        display: inline-block;
        padding: 0.25rem;
      }
    }
  }
}
